body {
  background-color: #141414; /* Fundo escuro necessário para o contraste do neon */
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  margin: 0;
  color: #ececec
}